<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfpvbL5VBsj8Ihe1APm4coFdsSbIS2sq8</string>
	<key>GCM_SENDER_ID</key>
	<string>422945560930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nanazgl.iosproj</string>
	<key>PROJECT_ID</key>
	<string>languageios</string>
	<key>STORAGE_BUCKET</key>
	<string>languageios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422945560930:ios:cd74ddb929c1fa2cf3f43b</string>
</dict>
</plist>